@import "tailwindcss";


/* loginin - #635BFF */

@layer utilities {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    @apply appearance-none;
    margin: 0;
  }

  input[type="number"] {
    @apply appearance-none;
    -moz-appearance: textfield; /* Firefox */
  }
}

@theme{
    --breakpoint-xm: 20rem;
}